@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,600&display=swap');

:root {
    --green: #04C59D;
    --text: white;
    --shadow: rgba(6, 197, 157, 0.9);
    --desText: #cfdbd5;
    --secondaryText: #252525;
    --navBackground: rgb(0, 154, 120);
}

* {
    font-family: "Raleway";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    padding: 5px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: all 0.4s;
}

.navbar-container a:hover {
    background-color: #494242;
}

input:focus {
    outline: none;
}

button.styled {
    width: max-content;
    color: var(--text);
    border-color: transparent;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: var(--green);
}

.heading {
    font-size: 42px;
    text-align: center;
    margin-bottom: 5vh;
}

.controller {
    font-size: 2em;
    cursor: pointer;
}

.fa {
    color: var(--green);
}

/* styles for navigation bar starts here */
.navbar-container {
    position: sticky;
    top: 0;
    padding: 0 5%;
    width: 100%;
    color: var(--text);
    height: 10vh;
    background-color:var(--navBackground);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    z-index: 99;
}

header {
    position: relative;
}

.navbar-container .logo {
    flex-grow: 1;
}

.logo {
    color: var(--text);
    display: flex;
    flex-direction: column;
}

.logo .brand {
    font-size: 2em;
    letter-spacing: 1px;
}

.logo .tagline {
    font-size: .55em;
}

.navbar-container-left {
    font-size: 1em;
    font-weight: 300;
    display: flex;
    gap: 8%;
    flex-grow: 1;
}

.navbar-container-right {
    font-size: 1em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    gap: 10%;
}

.login,.logout,.profile{
    cursor: pointer;
}
.logout.not-active,.login.not-active,.profile.not-active{
    display: none;
}


.navbar-container .menu-icon {
    position: absolute;
    height: 60px;
    top: 1%;
    right: 5%;
    width: 1.5em;
    cursor: pointer;
    display: none;
}

.drop-down-menu {
    position: absolute;
    width: 100%;
    top: 10vh;
    left: 0;
    background-color: var(--navBackground);
    text-align: center;
    display: none;
}

.drop-down-menu li {
    font-size: 1.1em;
    padding: 5px;
    transition: all 0.4s;
}

.drop-down-menu li:hover {
    background-color: #494242;
}

.navbar-container .drop-down-menu.active {
    display: block;
}

/* styles for navigation bar ends here */
.pop-message{
    display: none;
    border:1px red solid;
    font-size: 1.3em;
    background-color: var(--desText);
    padding:20px;
    width: 20%;
    height:7vh;
    position: absolute;
    right:0;
    z-index: 100;
    top:15%;;
    animation: popUp 0.6s;
}
.pop-message.active{
    display: block;
}
@keyframes popUp {
    from{
        transform: translateX(350px);
    }
    to{
        transform: translateX(0);
    } 
}

#home {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home .illustration {
    width: 40%;
}

#home .controller-container {
    position: relative;
    bottom: 7%;
    display: flex;
    gap: 20px;
    display: none;
}

.controller-container .controller {
    background-color: var(--green);
    border-radius: 10%;
    padding: 0 10px 6px;
    color: white;
}

.home-container {
    width: 90%;
    height: 80%;
    padding: 10px;
    display: flex;
    box-shadow: 0 0 10px 0px var(--shadow);
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.brand-tagline-container {
    max-width: 50%;
    height: 65%;
}

.brand-tagline-container .brand {
    font-size: 4.5em;
    letter-spacing: 5px;
}

.brand-tagline-container .tagline {
    margin: 5px 0;
    width: 33%;
    max-width: max-content;
    text-wrap: nowrap;
    text-overflow: hidden;
    overflow: hidden;
    font-weight: 500;
    font-size: 1.6em;
    animation: animate 12s infinite, cursor .6s infinite alternate;
    border-right: 1px solid;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes animate {

    0%,
    100% {
        width: 33%;
    }

    90% {
        width: 100%;
    }
}

.description {
    max-width: 97%;
    margin-top: 20px;
    font-size: 1.3em;
    line-height: 25px;
    font-weight: 100;
}

.brand-tagline-container .btn-container {
    margin-top: 10px;
    display: flex;
    gap: 5%;
}

.styled.learn-more {
    background-color: #494242;
    transition: all 0.2s;
}

.styled.learn-more:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px 0 var(--secondaryText);
}

.get-started {
    transition: all 0.2s;
}

.get-started:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px 0 var(--shadow);
}

.section-fonts {
    font-size: 16px;
}

.feature-section {
    position: relative;
    background-color: var(--green);
    padding: 50px 0;
    color: var(--text);
}

.feature-section .heading {
    color: var(--text);
}

.feature-section .features-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.feature {
    border-radius: 10px;
    text-align: center;
    padding: 30px 10px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    width: 25%;
    height: 20vh;
    background-color: #192e36;
    transition: 0.4s all;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.feature:hover {
    transform: scale(1.1);
}

.feature h2 {
    font-size: 1.5em;
    font-weight: 500;
}

.feature span {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 200;
    color: var(--text);
    text-overflow: ellipsis;
}

.doctors-section {
    position: relative;
    padding: 50px 0;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--green);
    color: var(--text);
}


.doctors-section .doctor-main-container {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
}

.doctor-info-container {
    padding: 0 20px;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.doctor {
    width: 60%;
    height: max-content;
    background-color: rgba(37, 37, 37, 0.5);
    padding: 20px 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.doctor h2 {
    font-size: 1.3em;
}

.doctor h3 {
    font-size: 1.1em;
}

.doctor:hover {
    transform: scale(1.1);
}

.doctor-illustration {
    width: 25%;
}

.doctor .profile-pic {
    margin-bottom: 10px;
    width: 50%;
    aspect-ratio: 1;
    border-radius: 50%;
}

.how-to-use-section {
    position: relative;
    width: 85%;
    margin: 10vh auto;
}

.steps-container {
    padding: 5%;
    box-shadow: 0 0 10px 0 rgba(6, 197, 157, 0.9);
}

.steps-container span {
    font-size: 1.4em;
    line-height: 1.4em;
}

.steps-container ol>li {
    list-style: decimal;
}

.steps-container .illustration {
    position: absolute;
    z-index: -1;
    right: 10%;
    top: 30%;
}

.step-heading {
    color: var(--green);
    font-size: 1.4em;
    margin: 20px 0 20px 20px;
}

.step-heading .step-des {
    color: #252525;
    margin-top: 5px;
    font-size: .9em;
    width: 70%;
}

.steps-container .illustration {
    right: 10%;
    top: 30%;
    width: 100%;
    opacity: .2;
}

.testimonial-section {
    padding: 1%;
    width: 80%;
    margin: 5vh auto;
}

.testimonial-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial cite {
    float: right;
    font-size: 1.5em;
}

.testimonial blockquote {
    margin: 20px 0;
    font-size: 1.4em;
    line-height: 28px;
}

.testimonial-container .controller {
    background-color: var(--green);
    padding: 10px 5px 15px;
    color: var(--text);
    font-size: 2em;
}

.testimonial {
    max-width: 90%;
    padding: 1% 4%;
    box-shadow: 0 0 5px 2px rgba(6, 197, 157, 0.9);
}

.contact-section {
    padding: 6%;
    position: relative;
    background-color: var(--green);
    margin: 5vh 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.contact-main-container {
    position: relative;
    max-width: 90%;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.7);
    padding: 3%;
    background-color: var(--text);
    animation: send 0.4s;
}

.contact-main-container.not-active {
    display: none;
}

@keyframes send {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.contact-form-container form {
    display: flex;
    flex-direction: column;
}

.contact-form-container form input,
textarea {
    font-size: 1em;
    margin: 10px 0;
    padding: 10px;
    border: var(--green) 1px solid;
}
.contact-form-container .styled{
    margin-top: 10px;
    padding:5px 10px;
    font-size: 1em;
}

.contact-form-container button {
    font-size: 1.2em;
}

.contact-section .thanks-container {
    display: none;
    padding: 2% 8%;
    background-color: var(--text);
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 60px;
    animation: receive 0.4s;
}

.contact-section .thanks-container.active {
    display: block;
}

@keyframes receive {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.thanks h2 {
    font-size: 3em;
}

.thanks h4 {
    font-size: 1.5em;
}

.contact-main-container .thanks-container img {
    width: 30%;
}

footer {
    position: relative;
    color: var(--text);
    height: 30vh;
    width: 100%;
    background-color: #252525;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

.footer-container .brand {
    font-size: 3em;
}

.footer-container .tagline {
    font-size: .8em;
}

.footer-container .details-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.details-container h3 {
    margin-bottom: 5px;
}

.footer-container .details-container .social-icons-container {
    display: flex;
    gap: 15px;
}

.footer-container .important-links-container h3 {
    margin-bottom: 10px;
}

.footer-container .important-links-container li {
    list-style: disc;
    margin: 5px;
}

.bottom-bar {
    font-size: .9em;
    width: 100%;
    background-color: black;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 0.5s ease-in;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

/* media queries starts here */

@media (min-width:375px) {

    .navbar-container-left,
    .navbar-container-right {
        display: none;
    }

    .navbar-container .menu-icon {
        display: block;
    }

    .navbar-container {
        font-size: 14px;
    }

    #home {
        height: 80vh;
    }

    #home .illustration {
        width: 40%;
    }

    .doctor-illustration {
        display: none;
    }

    .home-container {
        font-size: 8px;
        display: flex;
        flex-direction: column-reverse;
    }

    .brand-tagline-container {
        height: 50%;
        max-width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .description {
        margin-top: 10px;
        line-height: 20px;
        text-align: center;
    }

    .feature-section {
        font-size: 13px;
    }

    .doctors-section {
        font-size: 12px;
    }

    .feature {
        padding: 20px 10px;
        flex-basis: 70%;
    }

    .section-fonts {
        font-size: 12px;
    }

    .steps-container .illustration {
        right: 10%;
        top: 30%;
        width: 100%;
        opacity: .1;
    }

    .step-heading .step-des {
        width: 95%;
    }

    .testimonial {
        max-width: 100%;
    }

    .testimonial blockquote {
        margin: 10px 0;
        line-height: 22px;
    }

    .heading {
        font-size: 24px;
    }

    .contact-section {
        height: 60vh;
    }

    .contact-main-container {
        max-width: 80%;
    }

    .contact-form-container form input,
    textarea {
        margin: 8px 0;
        padding: 5px;
    }

    .footer-container {
        font-size: 9px;
    }
}

@media (min-width:575px) {
    .navbar-container {
        font-size: 14px;
    }

    #home {
        height: 90vh;
    }

    .home-container {
        font-size: 10px;
    }

    #home .illustration {
        width: 35%;
    }

    .brand-tagline-container {
        width: 70%;
    }

    .doctors-section {
        font-size: 13px;
    }

    .doctor {
        flex-basis: 40%;
    }

    .feature-section {
        font-size: 13px;
    }

    .feature {
        flex-basis: 40%;
    }

    .section-fonts {
        font-size: 13px;
    }

    .steps-container .illustration {
        right: 10%;
        top: 20%;
        width: 80%;
        opacity: .1;
    }

    .step-heading .step-des {
        width: 95%;
    }

    .heading {
        font-size: 32px;
    }

    .contact-main-container {
        max-width: 70%;
    }

    .contact-form-container form {
        max-width: 100%;
    }

    .footer-container {
        font-size: 14px;
    }
}

@media(min-width:768px) {

    .navbar-container-left,
    .navbar-container-right {
        display: flex;
    }

    .navbar-container .menu-icon {
        display: none;
    }

    .navbar-container {
        font-size: 14px;
    }

    .home-container {
        font-size: 12px;
        flex-direction: row;
    }

    .brand-tagline-container {
        width: 90%;
        height: 50%;
    }

    .doctors-section {
        font-size: 14px;
    }

    .doctor {
        flex-basis: 35%;
    }

    .feature-section {
        font-size: 15px;
    }

    .feature {
        padding: 20px 10px;
        flex-basis: 40%;
    }

    .section-fonts {
        font-size: 11px;
    }

    .steps-container .illustration {
        right: 10%;
        top: 20%;
        width: 80%;
    }

    .step-heading .step-des {
        width: 95%;
    }

    .heading {
        font-size: 32px;
    }

    .contact-main-container {
        max-width: 70%;
    }

    .contact-form-container form {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .contact-form-container form input,
    textarea {
        margin: 8px 0;
        padding: 3px;
    }

    .footer-container {
        font-size: 14px;
    }
}

@media (min-width:991px) {
    .navbar-container {
        font-size: 16px;
    }

    .home-container {
        font-size: 12px;
    }

    .description {
        text-align: left;
    }

    .brand-tagline-container {
        width: 50%;
        height: 60%;
        align-items: start;
    }

    .feature-section {
        font-size: 14px;
    }

    .feature {
        padding: 20px;
        flex-basis: 35%;
    }

    .section-fonts {
        font-size: 15px;
    }

    .steps-container .illustration {
        top: 20%;
        width: 60%;
    }

    .step-heading .step-des {
        width: 80%;
    }

    .testimonial {
        max-width: 90%;
    }

    .testimonial blockquote {
        margin: 15px 0;
        line-height: 28px;
    }

    .heading {
        font-size: 38px;
    }

    .contact-main-container {
        max-width: 50%;
    }

    .contact-form-container form input,
    textarea {
        margin: 10px 0;
        padding: 15px;
    }
}

@media (min-width:1024px) {

    .navbar-container {
        font-size: 16px;
    }

    .home-container {
        font-size: 12px;
    }

    .feature-section {
        font-size: 14px;
    }

    .feature {
        padding: 20px;
        flex-basis: 35%;
    }

    .section-fonts {
        font-size: 14px;
    }

    .testimonial blockquote {
        margin: 15px 0;
        line-height: 28px;
    }

    .heading {
        font-size: 36px;
    }

    .contact-form-container form input,
    textarea {
        margin: 10px 0;
        padding: 10px;
    }

    .footer-container {
        font-size: 14px;
    }
}

@media (min-width:1150px) {

    .navbar-container {
        font-size: 20px;
    }

    .home-container {
        font-size: 14px;
    }

    .brand-tagline-container {
        width: 50%;
        height: 45%;
    }

    .description {
        margin: 15px 0;
        line-height: 26px;
    }

    .feature-section {
        font-size: 16px;
    }

    .feature {
        flex-basis: 30%;
    }

    .section-fonts {
        font-size: 16px;
    }

    .steps-container .illustration {
        top: 20%;
        width: 70%;
    }

    .doctor {
        flex-basis: 30%;
    }

    .heading {
        font-size: 36px;
    }

    .footer-container {
        font-size: 16px;
    }
}

@media (min-width:1350px) {
    .navbar-container {
        font-size: 20px;
    }

    .brand-tagline-container {
        width: 50%;
        height: 50%;
    }

    .feature-section {
        font-size: 17px;
    }

    .feature {
        flex-basis: 25%;
    }

    .section-fonts {
        font-size: 17px;
    }

    .steps-container .illustration {
        top: 20%;
        width: 40%;
    }

    .heading {
        font-size: 38px;
    }

    .contact-main-container {
        max-width: 80%;
    }

    .footer-container {
        font-size: 18px;
    }
}