@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,600&display=swap');

:root {
    --green: #04C59D;
    --text: white;
}

* {font-family: "Raleway";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
}

.heading{
    font-size: 42px;
    text-align: center;
    margin-bottom: 5vh;
}
.top-bar{
    height:5vh;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.top-bar i{
    color:var(--green);
}
.navbar-container {
    position: sticky;
    top: 0;
    padding: 0 5%;
    width: 100%;
    color: white;
    height: 10vh;
    background-color: var(--green);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    z-index: 1;
}

.navbar-container .logo {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.navbar-container .logo .brand {
    font-size: 2.4em;
    letter-spacing: 2px;
}

.navbar-container .logo .tagline {
    font-size: 13px;
}

.navbar-container-left {
    font-weight: 300;
    display: flex;
    gap: 10%;
    flex-grow: 1;

}

.navbar-container-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    gap: 10%;
}
.navbar-container-right .search-box input{
    background-color:transparent ;
    padding:10px;
    padding-left:20px;
    border:var(--text) 1px solid;
    border-radius: 50px;
    transition: all 0.3s;
}
.navbar-container-right .search-box input::placeholder{
    font-size: 18px;
    color:var(--text);
}
.navbar-container-right .search-box input:focus{
    outline:none;
    transform:scale(1.1) ;
}

#home {
    /* background-color: #a7d1d3; */
    position: relative;
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.brand-tagline-container {
    max-width: 40%;
}

.brand-tagline-container .brand {
    font-size: 6em;
    letter-spacing: 2px;
}

.brand-tagline-container .tagline {
    margin: 10px 0;
    width: 0;
    max-width: max-content;
    text-wrap: nowrap;
    text-overflow: hidden;
    overflow: hidden;
    font-weight: 500;
    font-size: 28px;
    animation: animate 8s infinite, cursor .6s infinite alternate step-end;
    border-right: 1px solid;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }

}

@keyframes animate {

    0%,
    100% {
        width: 0;
    }


    90% {
        width: 100%;
    }

}

.description {
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
}

.brand-tagline-container .btn-container {
    margin-top: 15px;
    display: flex;
    gap: 5%;
}

.brand-tagline-container .btn-container .learn-more {
    background-color: #494242;
}

.btn-container button {

    color: var(--text);
    border-color: transparent;
    border-radius: 10px;
    padding: 5px;
    font-size: 22px;
    background-color: var(--green);
}

.feature-section {
    position: relative;
    
    background-color: var(--green);
    padding:5%;
    color:var(--text);
}
.feature-section .heading{
    color:var(--text);
}

.feature-section .features-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;

}

.feature {
    border-radius: 10px;
    text-align: center;
    padding: 20px 10px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    width: 20%;
    height: 20vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.4s all ;
}
.feature:hover{
    transform: scale(1.1);
}

.feature h2 {
    
    margin-bottom: 20px;
    font-weight: 500;
}

.feature span {
    font-size: 18px;
    line-height: 25px;
    font-weight: 200;
}

.doctors-section{
    padding:1%;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.doctor-info-container{
    display: flex;
    justify-content: center;
    gap:30%;
}
.doctor{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.doctor img{
    width:100px;
}
.how-to-use-section{
    width: 80%;
    margin:5vh auto;
}
.how-to-use-section h4{
    color:var(--green);
    font-size: 24px;
    margin:20px 0 10px;
}
.how-to-use-section .step-des{
width: 70%;
}

footer {
    height: 20vh;
    width: 100%;
    background-color: #252525;
}