:root {
    --primaryText: #363740;
    --secondaryText: #a0afbf;
    --bgColor: rgb(0, 145, 147);
    --secondaryBgColor: #88dacc;
    --bodyBgColor: #f8f9fa;
    --navBgColor: white;
    --errorText: #af0c0c;
    --modalShadow: rgba(0, 145, 147, 0.9);
}

.flex-col.center {
    justify-content: center;
    align-items: center;
}

aside {
    width: 320px;
    gap: 10px;
}

aside h1 {
    height: 10%;
    background-color: var(--navBgColor);

    border: 3px solid var(--bodyBgColor);
}

aside nav {
    height: 80%;
    background-color: var(--navBgColor);
}

main {
    width: 100%;
    background-color: var(--bodyBgColor);
    min-height: 100vh;
}
.main-side-nav-bar li.active{
    color: var(--navBgColor);
    background-color: var(--bgColor);
}
.profile-setting-section {
    position: relative;
    width: max-content;
    margin: 20px;
    height: max-content;
    border-radius: 15px;
}

.profile-setting-section .profile-pic {
    margin: 0 auto;
    width: 40%;
    aspect-ratio: 1;
}

.profile-card {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 10%;
    background-color: var(--navBgColor);
    border-radius: 5px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
}

.setting.active {
    display: flex;
}

.setting {
    display: none;
}

.setting form,
.details .user-details {
    margin-top: 30px;
}

.form-field span {
    font-size: .9em;
    color: var(--errorText);
    margin-left: 80px;
    display: none;
}

.form-field input.error,.form-field select.error  {
    border: var(--errorText) 1px solid;
}

.error-name.active,
.error-hospital-name.active,
.error-date.active,
.error-img.active,
.error-age.active,
.error-gender.active,
.error-email.active {
   
    display: block;
}

.user-details.not-active {
    display: none;
}

.user-details h3 {
    font-size: 1.4em;
    font-weight: 600;
    margin: 20px 5px;
    display: inline-block;
}

.user-details span {
    font-size: 1.3em;
}

.setting form input,
.setting form select {
    width: 70%;
    padding: 15px;
    margin: 10px 0;
    margin-left: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    background-color: var(--bodyBgColor);
}

.setting form label {
    font-size: 1.2em;
}

.setting form select:focus {
    outline: none;
}

.styled {
    width: 100%;
    margin-top: 15px;
    color: var(--bodyBgColor);
    background-color: var(--bgColor);
    border: none;
    font-size: 1.1em;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.pop-up-delete {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 2%;
    transform: translate(-50%, -50%);
    font-size: 1.3em;
    border-radius: 10px;
    background-color: rgb(168, 189, 211);
}

.pop-up-delete.active {
    display: block;
}

.btn-container {
    display: flex;
}

.pop-up-delete .btn-container button {
    width: 90%;
    margin: 20px 10px 0;
    border-radius: 10px;
    padding: 10px 0;
    font-size: .8em;
    border: none;
}

.delete,
#delete-btn {
    color: red;
    background-color: #efefef;
}

.prescription-card {
    margin: 20px;
    padding: 30px 20px;
    width: 30%;
    background-color: var(--navBgColor);
    border-radius: 10px;
    align-items: center;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 5px 1px var(--modalShadow);
}
.prescription-section{
    position: absolute;
    display: none;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    z-index: 2;
    animation: modalShow 0.4s ease-in-out;
}

@keyframes modalShow {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.prescription-section.active {
    display: flex;
}

.prescription-card h3 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.prescription-form-container {
    width: 80%;
    font-size: 1.2em;
}

.prescription-form-container input {
    width: 50%;
    font-size: 1em;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--bodyBgColor);
}

.prescription-form-container .form-field div :where(.error-name, .error-hospital-name, .error-date, .error-img, .error-email) {
    margin-left: 20px;
    margin-top: 5px;
}

.prescription-form-container .form-field div input {
    width: 100%;
}

.prescription-form-container input:focus {
    outline: none;
}

.form-field {
    margin: 20px 0;
    justify-content: space-between;
    align-items: baseline;
}

.prescription-table-container {
    margin: 30px;
}

.prescription-table-container table {
    width: 90%;
    border-collapse: collapse;
}

.prescription-table-container table th {
    padding: 15px 0;
    font-size: 1.4em;
    font-weight: 600;
}

.prescription-table-container table td {
    font-size: 1.2em;
    text-align: center;
}

.prescription-table-container table tr:nth-child(even),
.prescription-table-container table thead {
    background-color: var(--navBgColor);
}

.table-data .styled {
    font-size: .8em;
    width: max-content;
}

.top-bar .styled {
    cursor: pointer;
    font-weight: 300;
    width: 15%;
}